rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isOwner() { return isSignedIn() && request.auth.uid == resource.data.ownerId; }
    function isOwnerForCreate() { return isSignedIn() && request.auth.uid == request.resource.data.ownerId; }

    match /{document=**} { allow read, write: if false; }

    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }
    match /private/{collection}/{doc} {
      allow read, update, delete: if isOwner();
      allow create: if isOwnerForCreate();
    }
    match /public/{document=**} {
      allow read: if true;
      allow create, update, delete: if false;
    }
  }
}
